$sustechOrange = #ed6c00
$sustechGreen = #2bb7b3
$sustechDark = #003f43
$sustechDarkText = #a9a9a9
$sustechHigh = #11eeff

$accentColor = $sustechGreen
$textColor = $sustechDark
$textDarkColor = $sustechDarkText
$textHighColor = $sustechHigh
$navbarHeight = 4.5rem
$footerHeight = 18.4rem
